.footer {
    background-color: #20252d;
    color: rgb(242, 238, 238);
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .footer p {
    margin: 0;
    font-size: 14px;
    color: bisque;
  }
  
  .footer a {
    color: #91d3e5;
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  