.navbar {
  background-color: #262421;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h1 {
  color: #fff;
  margin: 0;
}

.navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  margin-left: 20px;
}

.navbar ul li a {
  color: #fff;
  font-weight: bold;
  transition: color 0.3s;
}

.navbar ul li a:hover {
  color: #ffdd57;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
  color: white;
}
.abc
{ width: 40px;
  height: 40px;

}
.logo {
  display: flex;
  align-items: center;
}

.logo-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.nav-links {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #FFD700;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.search-bar {
  padding: 5px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
}
.signup-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #28a745;
  border: none;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.signup-btn:hover {
  background-color: #218838;
}
